In [6]:
from rediscluster import RedisCluster
import mysql.connector
from datetime import datetime, timedelta
import json

# 定义Redis集群的节点信息
startup_nodes = [
    {"host": "120.25.223.26", "port": "6380"},
    {"host": "120.25.223.26", "port": "6381"},
    {"host": "120.25.223.26", "port": "6382"},
    {"host": "120.25.223.26", "port": "6383"},
    {"host": "120.25.223.26", "port": "6384"},
    {"host": "120.25.223.26", "port": "6385"}
]

# 连接到Redis集群
rc = RedisCluster(startup_nodes=startup_nodes, decode_responses=True)

In [7]:
# 连接到MySQL数据库
# cnx = mysql.connector.connect(user='your_username', password='your_password',
#                               host='your_host', database='your_database')
cnx = mysql.connector.connect(
          host="172.16.234.200",
          user="dg_news",
          password="dg_news",
          database="dg_crawler"
        )
cursor = cnx.cursor()

# 定义日期范围
start_date = datetime(2024, 2, 18)
end_date = datetime(2024, 3, 31)

current_date = start_date
while current_date <= end_date:
    date_sel = current_date.strftime("%Y-%m-%d")
    print(date_sel)
    
    # 执行SQL查询,获取当日的新闻数据
    query = f"SELECT * FROM news WHERE pub_time='{date_sel}' AND news.language_id=1779"
    cursor.execute(query)
    news_data = cursor.fetchall()
    
    # 将新闻数据转换为JSON格式并存入Redis集群,以日期作为键
    rc.set(date_sel, json.dumps(news_data, default=str))
    
    current_date += timedelta(days=1)
print("FINISH")
# 关闭MySQL连接
cursor.close()
cnx.close()

2024-01-01
2024-01-02
2024-01-03
2024-01-04
2024-01-05
2024-01-06
2024-01-07
2024-01-08
2024-01-09
2024-01-10
2024-01-11
2024-01-12
2024-01-13
2024-01-14
2024-01-15
2024-01-16
2024-01-17
2024-01-18
2024-01-19
2024-01-20
2024-01-21
2024-01-22
2024-01-23
2024-01-24
2024-01-25
2024-01-26
2024-01-27
2024-01-28
2024-01-29
2024-01-30
2024-01-31
2024-02-01
2024-02-02
2024-02-03
2024-02-04
2024-02-05
2024-02-06
2024-02-07
2024-02-08
2024-02-09
2024-02-10
2024-02-11
2024-02-12
2024-02-13
2024-02-14
2024-02-15
2024-02-16
2024-02-17

ClusterDownError: CLUSTERDOWN error. Unable to rebuild the cluster

In [ ]:
# 从Redis集群中按日期提取新闻数据
extract_date = "2024-01-01"

# 从Redis集群中获取指定日期的新闻数据
news_data = rc.get(extract_date)

if news_data is not None:
    # 将JSON格式的新闻数据转换回原始格式
    news_data = json.loads(news_data)
    print(f"News data for {extract_date}:")
    print(news_data)
else:
    print(f"No news data found for {extract_date}")